<nav class="navbar navbar-expand-sm navbar-dark bg-success mb-3">
  <div class="container">
    <ul class="navbar-nav">
      <p><b><font size="6" color="white"><i class="fab fa-google"></i><i class="fas fa-cloud"></i>&nbsp Google Cloud IoT Core - MQTT</font></b></p>
    </ul>
    <ul class="navbar-nav ml-auto">
      <p><b><font size="2" color="white">Created by Valerio Coretti 1635747</font></b></p>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card card-body mb-2 col-sm">
        <h4 align="center">TEMPERATURE &nbsp<i class="fas fa-thermometer-half"></i></h4>
        <div class="card card-body mb-2">
          <h6 align="left">Latest values received</h6>
          <div id="latest-temp"></div>
          <hr/>
        </div>
        <div class="card card-body mb-2">
          <h6 align="left">Values received during last hour</h6>
          <div id="lasthour-temp">
            {{#each values}}
              {{#eq this.deviceId "device1"}}
                <c id="{{this.date}}"><font size=2><{{this.value}}></font></c>
              {{/eq}}
              {{#eq this.deviceId "riot_device1"}}
                <c id="{{this.date}}"><font size=2><{{this.value}}></font></c>
              {{/eq}}
            {{/each}}
          </div>
          <hr/>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card card-body mb-2 col-sm">
        <h4 align="center">HUMIDITY &nbsp<i class="fas fa-tint"></i></h4>
        <div class="card card-body mb-2">
          <h6 align="left">Latest values received</h6>
          <div id="latest-hum"></div>
          <hr/>
        </div>
        <div class="card card-body mb-2">
          <h6 align="left">Values received during last hour</h6>
          <div id="lasthour-hum">
            {{#each values}}
              {{#eq this.deviceId "device2"}}
                <c id="{{this.date}}"><font size=2><{{this.value}}></font></c>
              {{/eq}}
              {{#eq this.deviceId "riot_device2"}}
                <c id="{{this.date}}"><font size=2><{{this.value}}></font></c>
              {{/eq}}
            {{/each}}
          </div>
          <hr/>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card card-body mb-2 col-sm">
        <h4 align="center">WIND DIRECTION &nbsp<i class="fas fa-wind"></i></h4>
        <div class="card card-body mb-2">
          <h6 align="left">Latest values received</h6>
          <div id="latest-wind"></div>
          <hr/>
        </div>
        <div class="card card-body mb-2">
          <h6 align="left">Values received during last hour</h6>
          <div id="lasthour-wind">
            {{#each values}}
              {{#eq this.deviceId "device3"}}
                <c id="{{this.date}}"><font size=2><{{this.value}}></font></c>
              {{/eq}}
              {{#eq this.deviceId "riot_device3"}}
                <c id="{{this.date}}"><font size=2><{{this.value}}></font></c>
              {{/eq}}
            {{/each}}
          </div>
          <hr/>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card card-body mb-2 col-sm">
        <h4 align="center">RAIN HEIGHT &nbsp<i class="fas fa-cloud-showers-heavy"></i></h4>
        <div class="card card-body mb-2">
          <h6 align="left">Latest values received</h6>
          <div id="latest-rain"></div>
          <hr/>
        </div>
        <div class="card card-body mb-2">
          <h6 align="left">Values received during last hour</h6>
          <div id="lasthour-rain">
            {{#each values}}
              {{#eq this.deviceId "device4"}}
                <c id="{{this.date}}"><font size=2><{{this.value}}></font></c>
              {{/eq}}
              {{#eq this.deviceId "riot_device4"}}
                <c id="{{this.date}}"><font size=2><{{this.value}}></font></c>
              {{/eq}}
            {{/each}}
          </div>
          <hr/>
        </div>
      </div>
    </div>
  </div>
</div>
